* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
#afui #leader {
  background: #fbf3be url('../img/leader.jpg') center center no-repeat;
}
.category:before {
  font-family: 'fontello';
  content: '\e800';
}
.panel {
  font-size: 14px;
}
